
.search {
  width: 400px;
}

.header {
    display: inline-flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dropdown {
    padding-left: 40px;
}

.dropdown-menu .dropdown-item:hover {
    background: #3292ca !important;
}